In [1]:
import json
from json import JSONDecoder
import pandas as pd
import re

In [2]:
tweet_list = []

for line in open('biden.json', 'r'):
    line_split = line.strip('\n').split(' <JoeBiden> ')
    line_split[0] = line_split[0].split(' ')
    line_split[0].append(line_split[1])
    tweet_list.append(line_split[0])

In [3]:
tweet_list[0]

['1351731172989050882',
 '2021-01-20',
 '11:20:00',
 '+0800',
 'Tonight, in Washington, D.C. and across the nation, we came together to honor the over 400,000 Americans we’ve lost to COVID-19. The last year has tested us in unimaginable ways, but now it’s time we begin to heal and overcome — together.  https://t.co/DuWhN1xjNO']

In [4]:
biden_df = pd.DataFrame(tweet_list ,columns=['ID', 'Date', 'Time', 'TimeZone', 'Tweets'])

In [5]:
biden_df.head()

,ID,Date,Time,TimeZone,Tweets
0,1351731172989050882,2021-01-20,11:20:00,+0800,"Tonight, in Washington, D.C. and across the na..."
1,1351653131248041984,2021-01-20,06:09:53,+0800,Join us for a national moment of unity and rem...
2,1349563892087869442,2021-01-14,11:48:00,+0800,"We’re in the teeth of this crisis, and we need..."
3,1348763039160532992,2021-01-12,06:45:41,+0800,"Folks, I just received the second dose of my C..."
4,1344021093321826305,2020-12-30,04:42:54,+0800,Tune in as I deliver remarks on the ongoing CO...

In [3]:
x = 'Tonight, in Washington, D.C. and across the nation, we came together to honor the over 400,000 Americans we’ve lost to COVID-19. The last year has tested us in unimaginable ways, but now it’s time we begin to heal and overcome — together.  '

output = re.sub(r"http\S+", "", x)

output

'Tonight, in Washington, D.C. and across the nation, we came together to honor the over 400,000 Americans we’ve lost to COVID-19. The last year has tested us in unimaginable ways, bu  t now it’s time we begin to heal and overcome — together.  '